{% extends "base.html" %}
{% load staticfiles %} 


{% block content %}


     <!--Title start-->
    <div class=" grey lighten-4">
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <h1 class="bold black-text center">Usuarios</h1>
          </div>
        </div>
      </div>
    </div>
    <!--Title end-->



   <div class = "modal" id = "modal2">
        <nav class="background-nav-modal">
            <a class="modal-close right"><i class="mdi-navigation-close"></i></a>
            <h3 class = "bold center">Eliminar Usuario</h3>
        </nav>
        <div class="modal-content">
            <p> ¿Está seguro que desea eliminar este usuario? </p>
        </div>
        <div class="divider"></div>
        <div class = "modal-footer background-nav-modal">
            <a id="acceptDelete" class="waves-effect btn-flat modal-action modal-close white-text">Aceptar</a>
            <a href="#" class="waves-effect btn-flat modal-action modal-close white-text">Cancelar</a>
        </div>
    </div>

        <!-- //////////////////////////////////////////////////////////////////////////// -->

   <!--start container-->
    <div class="container">
      <div class="section">

        <!--DataTables Users-->
        <div id="table-datatables">

          <div class="row">
            <div class="col s2 m2 l2">
            <p></p>
            </div>
            <div class="col s8 m8 l8">
              <table id="data-table-simple" class="responsive-table display centered striped" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Username</th>
                        <th>Rol</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Acción</th>

                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Username</th>
                        <th>Rol</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th></th>

                    </tr>
                </tfoot>

                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.fk_profileUser_user.first_name}} {{user.fk_profileUser_user.last_name}}</td>
                        <td>{{user.fk_profileUser_user.username}}</td>
                        <td>{{user.fk_profileUser_user.groups.all.0.name}}</td>
                        <td>{{user.fk_profileUser_user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>
                            <a class="waves-effect waves-light" href="{% url 'update_users' user.id %}"><i class = "mdi-content-create"> </i></a>
                            <a class = "waves-effect waves-light modal-trigger open-AddBookDialog1" data-target="modal2" data-link-delete="{% url 'delete_user' user.pk %}" >
                                <i class = "mdi-action-highlight-remove" id = "remove"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
            <div class = "row">
             <div class="col s2 m2 l2 center">
             <p><a class="btn-floating btn-large waves-effect waves-light deep-purple accent-2 lighten-2 tooltipped"
                   data-position="bottom" data-delay="50" data-tooltip="Agregar Usuario" href = "{% url 'new_users' %}"><i class="mdi-content-add"></i></a></p>
            </div>
            </div>
          </div>
        </div>
        <br>

      </div>

    </div>
    <!--end container-->


{% endblock %}

{% block script%}
    <!-- data-tables -->
    <script type="text/javascript" src="../static/js/plugins/data-tables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../static/js/plugins/data-tables/data-tables-script.js"></script>

<script type="text/javascript">
{% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
      Materialize.toast('{{ error|escape }}', 4000);
    {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
    Materialize.toast('{{ error|escape }}', 4000);
  {% endfor %}
{% endif %}


{% if messages %}
  {% for message in messages %}
    Materialize.toast('{{message}}',4000);
  {% endfor %}
{% endif %}
</script>


<script type="text/javascript" src="../static/js/user.js"></script>

{% endblock %}