{% extends "base.html" %}
{% load static %}


{% block content %}

    <!--Title start-->
    <div class=" grey lighten-4">
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <h1 class="bold black-text center">Perfil</h1>
          </div>
        </div>
      </div>
    </div>
    <!--Title end-->

        <!-- //////////////////////////////////////////////////////////////////////////// -->

   <!--start container-->
    <div class="container">
      <div class="section">

        <!--DataTables Users-->
                   <!--New Users-->
              <div class = "row">
                  
                  <div class="col s12 m12 l12">
                      <div class="card-panel">
                          <div class="row">
                            <div class="col s6">
                              <h4 class="header2">Perfil </h4>
                          </div>
                          <div class="col s6 right">
                              <br>
                              <span class="right required-modal"><span class="red-text"> *</span> Denota campo requerido</span>

                          </div>
                          </div>
                          <div class="row">
                              <form  enctype="multipart/form-data"  method="post">
                                  <div class="col s6">
                                  <div class="row">
                                      <div class="input-field col s12">
                                          <i class="mdi-action-account-box prefix"></i>
                                          {{ form.first_name }}
                                          <label for="first_name">Nombre <span class="red-text"> *</span></label>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="input-field col s12">
                                          <i class="mdi-action-account-box prefix"></i>
                                          {{ form.last_name }}
                                          <label for="last_name">Apellido <span class="red-text"> *</span></label>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="input-field col s12">
                                          <i class="mdi-action-account-circle prefix"></i>
                                          {{ form.username }}
                                          <label for="username">Username <span class="red-text"> *</span></label>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="input-field col s12">
                                          <i class="mdi-social-group prefix"></i>
                                          <input disabled id="email" type="email" class="validate" value="{{user.groups.all.0.name }}">
                                          <label for ="rol" class="active">Rol </label>
                                                                                   
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="input-field col s12">
                                          <i class="mdi-communication-email prefix"></i>
                                          <input disabled id="email" type="email" class="validate" value="{{ user.email }}">
                                          <label for="email4" >Email </label>

                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="input-field col s12">
                                          <i class="mdi-hardware-phone-iphone prefix"></i>
                                          {{ form.phone }}
                                          <label for="phone">Teléfono</label>
                                      </div>
                                  </div>                     
                                      <div class="row ">
                                          <div class="input-field col s12 m6 l6 center">
                                              <a class="btn  deep-purple accent-2 waves-effect waves-light " href="javascript:history.go(-1)">Cancelar
                                                  <i class="mdi-content-reply right"></i>
                                              </a>
                                          </div>
                                          <div class="input-field col s12 m6 l6 center">
                                              <button class="btn  deep-purple accent-2 waves-effect waves-light" type="submit" name="action">Guardar
                                                  <i class="mdi-content-send right"></i>
                                              </button>
                                          </div>
                                      </div>
                                  </div>

                               <div class="col s6 m6 l6 center">
                                   {% csrf_token %}
                                   {% if users.load_photo == True %}
                                        <img src="{{ users.image_profile.url }}" class="circle responsive-img valign profile-image image">
                                   {% else %}
                                       <img src="{% static 'images/avatar1.png' %}" class="circle responsive-img valign profile-image image">
                                   {% endif %}
                                  <div class="row">
                                  <div class="col s3"><p></p></div>
                                  <div class="file-field input-field col s7">
                                  <div class="btn col s4">
                                      <span>Examinar</span>
                                      <input type="file" accept='.jpg, .png, .jpeg' name="image_profile" id="id_image_profile"/>
                                  </div>
                                      <input class="file-path validate " type="text" value="" />
                                  </div>
                                  
                                 </div>
                              </div>
                                  </form>
                          </div>
                      </div>
                  </div>
                 
              </div>
    

      </div>

    </div>
    <!--end container-->


{% endblock %}

{% block script%}

    <script src="../static/js/jquery-ui.js"></script>

    <!-- Others-->
    <script type="text/javascript" src="../static/js/others.js"></script>

    <script type="text/javascript">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    Materialize.toast('{{ error|escape }}', 4000);
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                Materialize.toast('{{ error|escape }}', 4000);
            {% endfor %}
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                Materialize.toast('{{message}}',4000);
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}s