{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
     <!--Title start-->
    <div class=" grey lighten-4">
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <h1 class="bold black-text center">Roles</h1>
          </div>
        </div>
      </div>
    </div>
    <!--Title end-->

    <!--Modal delete-->
     <div class = "modal" id = "modal2">
        <nav class="background-nav-modal">
            <a class="modal-close right"><i class="mdi-navigation-close"></i></a>
            <h3 class = "bold center">Eliminar Rol</h3>
        </nav>
        <div class="modal-content">
            <p> ¿Está seguro que desea eliminar este rol? </p>
        </div>
        <div class="divider"></div>
        <div class = "modal-footer background-nav-modal">
            <a href="#" class="waves-effect btn-flat modal-action modal-close white-text">Aceptar</a>
            <a href="#" class="waves-effect btn-flat modal-action modal-close white-text">Cancelar</a>
        </div>
    </div>

    <!--End delete-->


    <!--Modal Role-->
    <div class = "modal" id = "new_role">
        <nav class="background-nav-modal">
            <a class="modal-close right"><i class="mdi-navigation-close"></i></a>
            <h3 class = "bold center">Roles</h3>
        </nav>
            <div class="modal-content">
                <div class="container">
                    <div class="section">
                        <div class="row">
                            <div class="col s2"><p></p></div>
                            <div class="col s8">
                                 <form class="col s12">
                                     <div class="row">
                                          <div class="input-field col s12">
                                            <i class="mdi-action-account-box prefix"></i>
                                            <input id="name" type="text" class="validate">
                                            <label for="name">Nombre</label>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col s12">
                                            <h4 >Permisos</h4>
                                          </div>
                                          <div class="input-field col s6">
                                            <p>
                                              <input type="checkbox" id="test1" />
                                              <label for="test1">Proyecto</label>
                                            </p>
                                            <p>
                                              <input type="checkbox" id="test2" />
                                              <label for="test2">Usuarios</label>
                                            </p>
                                          </div>
                                          <div class="input-field col s6">
                                            <p>
                                              <input type="checkbox" id="test3" />
                                              <label for="test3">Crear</label>
                                            </p>
                                            <p>
                                              <input type="checkbox" id="test4" />
                                              <label for="test4">Ver</label>
                                            </p>
                                            <p>
                                              <input type="checkbox" id="test5" />
                                              <label for="test5">Modificar</label>
                                            </p>
                                            <p>
                                              <input type="checkbox" id="test6" />
                                              <label for="test6">Eliminar</label>
                                            </p>
                                          </div>
                                      </div>
                                  </form> 
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class = "modal-footer background-nav-modal">
            <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close white-text ">Guardar</a>
            <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close white-text">Cancelar</a>
        </div>
    </div>
    <!--End modal role-->

        <!--Modal update Role-->
    <div class = "modal" id = "update_role">
        <nav class="background-nav-modal">
            <a class="modal-close right"><i class="mdi-navigation-close"></i></a>
            <h3 class = "bold center">Roles</h3>
        </nav>
            <div class="modal-content">
                <div class="container">
                    <div class="section">
                        <div class="row">
                            <div class="col s2"><p></p></div>
                            <div class="col s8">
                                 <form class="col s12">
                                     <div class="row">
                                          <div class="input-field col s12">
                                            <i class="mdi-action-account-box prefix"></i>
                                            <input id="name" type="text" class="validate" value="Administrador">
                                            <label for="name">Nombre</label>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col s12">
                                            <h4 >Permisos</h4>
                                          </div>
                                          <div class="input-field col s6">
                                            <p>
                                              <input type="checkbox" id="test1" checked/>
                                              <label for="test1">Proyecto</label>
                                            </p>
                                            <p>
                                              <input type="checkbox" id="test2" checked/>
                                              <label for="test2">Usuarios</label>
                                            </p>
                                          </div>
                                          <div class="input-field col s6">
                                            <p>
                                              <input type="checkbox" id="test3" checked/>
                                              <label for="test3">Crear</label>
                                            </p>
                                            <p>
                                              <input type="checkbox" id="test4" checked/>
                                              <label for="test4">Ver</label>
                                            </p>
                                            <p>
                                              <input type="checkbox" id="test5" checked/>
                                              <label for="test5">Modificar</label>
                                            </p>
                                            <p>
                                              <input type="checkbox" id="test6" checked/>
                                              <label for="test6">Eliminar</label>
                                            </p>
                                          </div>
                                      </div>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "modal-footer background-nav-modal">
            <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close white-text ">Guardar</a>
            <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close white-text">Cancelar</a>
        </div>
    </div>
    <!--End modal Role-->

       <!--start container-->
    <div class="container">
      <div class="section">

        <!--DataTables Role-->
        <div id="table-datatables">

          <div class="row">
            <div class="col s2 m2 l2">
            <p></p>
            </div>
            <div class="col s8 m8 l8">
              <table id="data-table-simple" class="responsive-table display centered striped" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </tr>
                </tfoot>

                <tbody>

                    <tr>
                        <td>Administrador</td>
                        <td>
                            <a class="waves-effect waves-light  modal-trigger" href="#update_role"><i class = "mdi-content-create"> </i></a>
                            <a class = "waves-effect waves-light modal-trigger" href = "#modal2"> <i class = "mdi-action-highlight-remove" id = "remove"></i>
                            </a>
                        </td>

                    </tr>
                    <tr>
                        <td>Arquitecto de Software</td>
                        <td>
                            <a class="waves-effect waves-light modal-trigger"><i class = "mdi-content-create"> </i></a>
                            <a class = "waves-effect waves-light modal-trigger" href = "#modal2"> <i class = "mdi-action-highlight-remove" id = "remove"></i>
                            </a>
                        </td>

                    </tr>
                    <tr>
                        <td>Cliente</td>
                        <td>
                            <a class="waves-effect waves-light modal-trigger" href="#"><i class = "mdi-content-create"> </i></a>
                            <a class = "waves-effect waves-light modal-trigger" href = "#modal2"> <i class = "mdi-action-highlight-remove" id = "remove"></i>
                            </a>
                        </td>

                    </tr>
                    <tr>
                        <td>Consultor Funcional</td>
                        
                       <td ><a class="waves-effect waves-light modal-trigger"><i class = "mdi-content-create"></i></a>
                           <a class = "waves-effect waves-light modal-trigger" href = "#modal2"> <i class = "mdi-action-highlight-remove" id = "remove"></i>
                           </a>
                       </td>

                    </tr>
                    <tr>
                        <td>Project Management</td>
                        <td><a class="waves-effect waves-light modal-trigger"> <i class = "mdi-content-create"></i></a>
                            <a class = "waves-effect waves-light modal-trigger" href = "#modal2"> <i class = "mdi-action-highlight-remove" id = "remove"></i>
                            </a>
                        </td>

                    </tr>
                   
                </tbody>
              </table>
            </div>
            <div class = "row">
             <div class="col s2 m2 l2 center">
             <p><a class="btn-floating btn-large waves-effect waves-light deep-purple accent-2 lighten-2 tooltipped modal-trigger"
                   data-position="bottom" data-delay="50" data-tooltip="Agregar Rol" href = "#new_role"><i class="mdi-content-add"></i></a></p>
            </div>
            </div>
          </div>
        </div>
        <br>

      </div>

    </div>
{% endblock %}