{% extends "base.html" %}
{% load staticfiles %} 


{% block content %}

    <!--Title start-->
    <div class=" grey lighten-4">
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <h1 class="bold black-text center">Usuarios</h1>
          </div>
        </div>
      </div>
    </div>
    <!--Title end-->


        <!-- //////////////////////////////////////////////////////////////////////////// -->

   <!--start container-->
    <div class="container">
        <div class="section">
          <!--DataTables Users-->
                   <!--New Users-->
              <div class = "row">
                  <div class="col s3 m3 l3">
                      <p></p>
                  </div>
                  <div class="col s6 m6 l6">
                      <div class="card-panel">
                          <div class="col s6">
                          {% if title == "Agregar"%}
                              <h4 class="header2">Nuevo Usuario </h4>
                          {% else %}
                              <h4 class="header2">Editar Usuario </h4>
                          {% endif %}
                          </div>
                          <div class="col s6 right">
                              <br>
                              <span class="right"><span class="red-text"> *</span> Denota campo requerido</span>
                          </div>

                          <div class="row">
                              {% if title == "Agregar"%}
                                  <form class="col s12" action="{% url 'new_users' %}" method="post" >
                              {% else %}
                                  <form class="col s12" action="{% url 'update_users' userProfile.pk %}" method="post">
                              {% endif %}
                                  {% csrf_token %}
                                  <div class="row">
                                      <div class="input-field col s12">
                                          <i class="mdi-action-account-box prefix"></i>
                                          {{form.first_name}}
                                          <label for="first_name">Nombre <span class="red-text"> *</span></label>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="input-field col s12">
                                          <i class="mdi-action-account-box prefix"></i>
                                          {{form.last_name}}
                                          <label for="last_name">Apellido <span class="red-text"> *</span></label>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="input-field col s12">
                                          <i class="mdi-action-account-circle prefix"></i>
                                          {{form.username}}
                                          <label for="username">Username <span class="red-text"> *</span></label>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="input-field col s1">
                                          <i class="mdi-social-group prefix"></i>
                                      </div>
                                      <div class="input-field col s11">
                                      {{ form.rol }}
                                          <label for ="rol">Rol <span class="red-text"> *</span></label>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="input-field col s12">
                                          <i class="mdi-communication-email prefix"></i>
                                         {{form.email}}
                                          <label for="email">Email <span class="red-text"> *</span></label>
                                      </div>
                                  </div>

                                  <div class="row">
                                      <div class="input-field col s12">
                                          <i class="mdi-hardware-phone-iphone prefix"></i>
                                          {{form.phone}}
                                          <label for="phone">Teléfono</label>
                                      </div>
                                  </div>
                                  <!--AUTOCOMPLETE-->
                                  <div class="row">
                                      <div class="input-field col s12">
                                          <i class="mdi-file-folder prefix"></i>
                                          {{form.project}}
                                          <label for="autocomplete">Proyecto <span class="red-text"> *</span></label>
                                      </div>
                                  </div>                               

                                      <div class="row ">
                                          <div class="input-field col s12 m6 l6 center">
                                              <a class="btn  deep-purple accent-2 waves-effect waves-light " href="{% url 'users'%}">Cancelar
                                                  <i class="mdi-content-reply right"></i>
                                              </a>
                                          </div>
                                          <div class="input-field col s12 m6 l6 center">
                                              <button class="btn deep-purple accent-2 waves-effect waves-light" type="submit" name="action">Guardar
                                                  <i class="mdi-content-send right"></i>
                                              </button>
                                          </div>
                                      </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
      </div>

    </div>
    <!--end container-->


{% endblock %}

{% block script%}

<script type="text/javascript">
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                Materialize.toast('{{ error|escape }}', 4000);
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            Materialize.toast('{{ error|escape }}', 4000);
        {% endfor %}
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            Materialize.toast('{{message}}',4000);
        {% endfor %}
    {% endif %}
</script>

   <script src="../static/js/jquery-ui.js"></script>

  <!-- Others-->
  <script type="text/javascript" src="../static/js/others.js"></script>
  <script type="text/javascript" src="../static/js/validate_newUser.js"></script>
  <script type="text/javascript" src="../static/js/autocomplete.css"></script>
   
{% endblock %}