{% extends "base.html" %}
{% load staticfiles %}
{% block head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/chosen/prism.css">
    <link rel="stylesheet" href="../static/css/chosen/chosen.css">

{% endblock %}
{% block content %}


    <!--Modal-->
    <div class = "modal" id = "modal2">
        <nav class="background-nav-modal">
            <a class="modal-close right"><i class="mdi-navigation-close"></i></a>
            <h3 class = "bold center">Eliminar Tarea</h3>
        </nav>
        <div class="modal-content">
            <p> ¿Está seguro que desea eliminar esta tarea? </p>
        </div>
        <div class="divider"></div>
        <div class = "modal-footer background-nav-modal">
            <a id="acceptDelete" class="waves-effect btn-flat modal-action modal-close white-text">Aceptar</a>
            <a  class="waves-effect btn-flat modal-action modal-close white-text">Cancelar</a>
        </div>
    </div>

    <!--Modal-->
    <div class = "modal" id = "modal3">
        <nav class="background-nav-modal">
            <a class="modal-close right"><i class="mdi-navigation-close"></i></a>
            <h3 class = "bold center">Detalle de Tarea</h3>
        </nav>
        <div class="modal-content">
            <div class="row">
                <div class="col m2"><p></p></div>
                <div class="col m8">
                    <p><b>Nombre: </b><span id ="nameTask"> </span></p>
                    <p><b>Responsable: </b><span id ="responsableTask"> </span></p>
                    <p><b>Status: </b><span id ="statusTask"> </span></p>
                    <p><b>Descripción: </b><span id ="descriptionTask"> </span></p>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class = "modal-footer background-nav-modal">
            <a class="waves-effect btn-flat modal-action modal-close white-text">Aceptar</a>
        </div>
    </div>

    <!--Modal update task-->

    <!--Modal People-->
    <div class = "modal" id = "new_people">
        <nav class="background-nav-modal">
            <a class="modal-close right"><i class="mdi-navigation-close"></i></a>
            <h3 class = "bold center">Personas</h3>
        </nav>
        <div class="modal-content">
            <div class="container">
                <div class="section">
                    <div class="row">
                        <div class="col s2"><p></p></div>
                        <div class="col s8">
                            <form class="col s12" method="post" enctype="multipart/form-data" action="{% url 'more_users' project.pk %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col s12">
                                        <select data-placeholder="Usuarios" name="user" id="id_user" class="chosen-select browser-default" multiple tabindex="4" >
                                            {% for user in users %}
                                                <option value="{{ user.pk }}">{{user}}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "modal-footer background-nav-modal">
            <button id="guardar" class="waves-effect btn-flat modal-action white-text " type="submit" >Guardar</button>
            <a href="{% url 'new_users' %}" class="waves-effect waves-red btn-flat modal-action modal-close white-text">Registrar</a>
            <a class="waves-effect waves-red btn-flat modal-action modal-close white-text">Cancelar</a>
        </div>
    </form>
    </div>
    <!--End modal People-->

    <!--Modal Documents-->
    <div class = "modal" id = "new_document">
        <nav class="background-nav-modal">
            <a class="modal-close right"><i class="mdi-navigation-close"></i></a>
            <h3 class = "bold center">Documentos</h3>
        </nav>
        <div class="modal-content">
            <div class="container">
                <div class="section">
                    <div class="row">

                        <div class="col s12">
                            <form class="col s12" method="post" enctype="multipart/form-data" action="{% url 'documents' project.pk %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col l2 right">
                                        <p><a class="btn-floating btn-large tooltipped waves-effect waves-light modal-trigger  deep-purple accent-2"
                                              data-position="bottom" data-delay="50" data-tooltip="Más Documentos" onclick="moreDocument();">
                                            <i class="mdi-content-add"></i></a></p>
                                    </div>
                                </div>
                                <div class="row" >

                                    <div class="input-field col l12" id="showDocument">
                                        <li class="file-field input-field">
                                            <input class="file-path validate document" type="text" name="file" />
                                            <span class="col l6"></span>
                                            <input class="description" type="text" name ="description" placeholder="Descripción">
                                            {% if form.errors %}
                                                <div >
                                                    <strong >{{form.description.errors}}</strong>
                                                </div>
                                            {% endif %}
                                            <div class="btn">
                                                <span for="id_file">File</span>
                                                <input type="file" name="file" id="id_file" />
                                            </div>
                                        </li>
                                    </div>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "modal-footer background-nav-modal">
            <button id="guardar" class="waves-effect btn-flat modal-action white-text " type="submit" >Guardar</button>
            <a class="waves-effect waves-red btn-flat modal-action modal-close white-text">Cancelar</a>
        </div>
        </form>

    </div>

    <!--End Modal Documents-->


    <!-- Gantt Chart-->
    <!--start container-->
    <div class="container">
        <div class="section">
            <h2 class="header bold" id = "project"><b>{{ project.name}}</b></h2>
            <h4 class="bold"><b>Cliente Responsable:</b> {{client}}</h4>
            <div class="row">
                <div class="col l9">
                    <span>{{project.description}}</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class = "col s9 m9 l9 center">
                    <div id="gantt_chart"></div>
                </div>
            </div>
        </div>

        <!-- DataTable-->
        <div class="section">
            <!--DataTables Users-->
            <div id="table-datatables">
                <div class="row">
                    <div class="col s9 m9 l9">
                        <h3 class="header bold ">Mis Tareas</h3>
                        <table id="data-table-simple" class="responsive-table display centered striped tableProject" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Responsable</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Requerida por</th>
                                <th>Requiere de</th>
                                <th id="tabStatus">Status</th>
                                <th id = 'accion'>Acción</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Responsable</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Requerida por</th>
                                <th>Requiere de</th>
                                <th>Status</th>
                                <th>Acción</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for task in tasks %}
                                <tr>

                                    <td>{{ task.code }}</td>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.users }}</td>
                                    <td>{{ task.get_startDate }}</td>
                                    <td>{{ task.get_endDate }}</td>
                                    <td>{%for d in dep %}
                                        {% if d.dependence == task.code %}
                                            {{d.task.code}}
                                        {% endif %}
                                    {% endfor %}</td>

                                    <td>{%for d in dep %}
                                        {% if d.task.code == task.code %}
                                            {{d.dependence}}
                                        {% endif %}
                                    {% endfor %}
                                    </td>
                                    <td>
                                    <form action="{% url 'change_status' code=task.code pk=task.project.code %}" method="POST">
                                    {% csrf_token %}
                                    {% if perms.project.add_project %}
                                        <select class="browser-default"  name="status" id="id_status" onchange="this.form.submit()">
                                            {% for s in status_project %}
                                                {% if s == task.status  %}
                                                    <option value="{{ task.status }}" selected>{{ task.status }}</option>
                                                {% else %}
                                                    <p>{{ s }}</p>
                                                    <option value="{{s}}" >{{s}}</option>
                                                {% endif %}
                                            {% endfor %}
                                            <option value="" disabled >Status</option>
                                        </select>

                                    {% else %}
                                    {% if task.status == 'In Progress' %}
                                         <select class="browser-default"  name="status" id="id_status" onchange="this.form.submit()">
                                            {% for s in status %}
                                                {% if s == task.status  %}
                                                    <option value="{{ task.status }}" selected>{{ task.status }}</option>
                                                {% else %}
                                                    <p>{{ s }}</p>
                                                    <option value="{{s}}" >{{s}}</option>
                                                {% endif %}
                                            {% endfor %}
                                            <option value="" disabled >Status</option>
                                        </select>
                                        {% else %}
                                        {{ task.status }}
                                    {% endif %}
                                    {% endif %}
                                    </form>
                                    </td>
                                    <td>
                                        {% if perms.project.add_project %}
                                            <a class="waves-effect waves-light tooltipped" data-position="left"
                                               data-delay="50" data-tooltip="Editar Tarea" href="{% url 'update_task' task.code %}">
                                                <i class = "mdi-content-create"> </i></a>
                                        {% endif %}
                                        <a class = "waves-effect waves-light modal-trigger tooltipped open-AddBookDialogTask" data-position="top" data-delay="50" data-tooltip="Ver Tarea"
                                        data-target="modal3" data-pk="{{ task.code }}">
                                            <i class = "mdi-action-visibility" id = "viewTask"></i></a>
                                        {% if perms.project.add_project %}

                                            <a class = "waves-effect waves-light modal-trigger tooltipped open-AddBookDialog1" data-position="right" data-delay="50" data-tooltip="Eliminar Tarea"
                                               data-target="modal2" data-link-delete="{% url 'delete_task' task.code %}">
                                                <i class = "mdi-action-highlight-remove" id = "remove"></i></a>
                                        {% endif %}

                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class = "row">
                        <div class="col s2 m2 l1">
                            {% if perms.project.add_project %}
                                <p><a href="{% url 'new_task' project.pk%}" class="btn-floating btn-large tooltipped waves-effect waves-light deep-purple accent-2 lighten-2 modal-trigger"
                                      data-position="bottom" data-delay="50" data-tooltip="Nueva Tarea" >
                                    <i class="mdi-content-add"></i></a></p>
                                </div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s4 m4 l4">
                    <a class="btn  deep-purple accent-2 waves-effect waves-light" href="{% url 'project' %}">Cancelar</a>
                </div>

                <div class="col l2"><p></p></div>
                <div class="col s4 m4 l3">
                  <form method="POST" action="{% url 'close_project' project.pk %}" id="formProject">
                      {% csrf_token %}
                    <a class="btn right" id="closeProject">Cerrar Proyecto</a>
                  </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Gantt Chart-->

    <!-- LEFT RIGHT SIDEBAR NAV-->
    <aside id="right-sidebar-nav">
        <ul id="slide-out" class="side-nav fixed right-aligned rightside-navigation">
            <li class="li-hover">
                <h4 class="center">Restan<br>{{resta}} <br>Días</h4>
            </li>
            <li class="li-hover"><div class="divider"></div></li>
            <li class="li-hover">
            <li class="li-hover">
                <div class="center">Fecha Inicio: {{project.get_startDate}} <br>
                    Fecha Fin: {{project.get_endDate}}</div>
            </li>
            <li class="li-hover">
            </li>
            <ul class="chat-collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header teal white-text active center">
                        Personas<a class="right tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="Agregar Personas" href="#new_people"><i class="mdi-content-add" ></i></a>
                    </div>
                    <div class="collapsible-body recent-activity">
                        <div class="recent-activity-list  row">
                            <div class="col s9 recent-activity-list-text">
                                {%for i in projectUser%}
                                    <div class="userProject">{{i.user}}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header light-blue white-text active center">
                        Documentos
                        <a class="right tooltipped modal-trigger " data-position="bottom" data-delay="50" data-tooltip="Agregar Documentos"
                           href="#new_document"><i class="mdi-content-add"></i></a>
                    </div>
                    <div class="collapsible-body sales-repoart">
                        <div class="sales-repoart-list chat-out-list row">
                            <div class="col s9 recent-activity-list-text">
                                {% for i in documents %}
                                <a href="{{ i.file.url }}">{{ i.file }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
            </li>
        </ul>
        <!--<a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a> -->
    </aside>
{% endblock %}

{% block footer %}
    <footer class="page-footer background-nav">
        <div class="footer-copyright">
            <div class="container">
                <span class ="grey-text text-lighten-4">Copyright © 2017 <a class="grey-text text-lighten-4" target="_blank">IDBC Group</a> All rights reserved.</span>
                <span class="right grey-text text-lighten-4" style="padding-right: 230px;"> Design and Developed by <a class="grey-text text-lighten-4">IDBC Group</a></span>
            </div>
        </div>
    </footer>
{% endblock %}

{% block script%}
    <!--chart google-->

    <script src="../static/js/chosen/chosen.jquery.js" type="text/javascript"></script>
    <script src="../static/js/chosen/prism.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/chosen/init.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../static/js/diagram.js"></script>
    <script type="text/javascript" src="../static/js/moreDocument.js"></script>

    <script type="text/javascript" src="../static/js/kwargsTask.js"></script>
    <script type="text/javascript" src="../static/js/deleteTask.js"></script>
    <script type="text/javascript" src="../static/js/detailTask.js"></script>
    <script type="text/javascript" src="../static/js/closeProject.js"></script>
    <script type="text/javascript" src="../static/js/detailProject.js"></script>


    <script type="text/javascript">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    Materialize.toast('{{ error|escape }}', 4000);
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                Materialize.toast('{{ error|escape }}', 4000);
            {% endfor %}
        {% endif %}


        {% if messages %}
            {% for message in messages %}
                Materialize.toast('{{message}}',4000);
            {% endfor %}
        {% endif %}
    </script>
    <script>
    $(document).ready(function (){
        $('#id_status').change(
        function(){
             $(this).closest('form').trigger('submit');
        });
    });
    </script>




{% endblock %}